.myButton {
    border: none;
    border-radius: 5px;
    /* Tailwind Stone 200 */
    color: #e7e5e4;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
}